body {
    margin: 0;
  }
  .point-mouse {
    fill: steelblue;
  }
  #rotation {
    position: absolute;
    font-family: monospace;
    padding: 10px;
    background: rgba(255, 255, 255, .5);
  }
  #rotation input {
    width: 300px;
  }
  #globe{
    height:75vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  #tooltip {
    position: absolute;
    top: 202px;
    left: 952px;
    background: white;
    padding: 17px;
    border-radius: 3px;
    opacity:0;
    transform:opacity .3s 
  }
  #tooltip.active{
    opacity:1;
  }