/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font:helvetica, arial;
    overflow:hidden;
}
footer{
    background:#bbbaba;
    color:white;
    text-align:center;
    height:60px;
    padding:8px;

}