<!-- Toolbar -->
<div>
  <div class="main">
    <div id="country_list">
      <ul>
        <li *ngFor="let pop of populationDensity" class="country">{{pop.country}}</li>
      </ul>
    </div>
    <div class="column">
      <app-rotating-globe></app-rotating-globe>
    </div>
    <div class="column">
      <app-population-graph></app-population-graph>
    </div>
    <div class="column">
      <app-infection-graph></app-infection-graph>
    </div>
            <!-- <ul >
              <li *ngFor="let country of population">country: {{country.country}}  | population: {{country.population}} </li>
            </ul> -->
  </div>
</div>
<router-outlet></router-outlet>